<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="es.urjc.escet.gavab.pascalfc.launching.PascalfcLaunchConfigurationDelegate">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/practica02"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<stringAttribute key="pascalFCprogram" value="case2.pfc"/>
<stringAttribute key="project" value="practica02"/>
</launchConfiguration>
